@import "@wangeditor/editor/dist/css/style.css";
@import "normalize.css";

$padding: 6px;
$width: 800px;

.app {
  width: calc($width - 2 * $padding);
  padding: $padding;
  height: 480px;

  .content {
    display: grid;
    grid-template-columns: 260px auto 1fr;
    height: 100%;
  }
}
