@import "@wangeditor/editor/dist/css/style.css";
@import "normalize.css";
@import "@/styles/variable.scss";
@import "@/styles/atom.scss";

$padding: 6px;
$width: 800px;

.app {
  width: calc($width - 2 * $padding);
  padding: $padding;
  height: 480px;

  .content {
    display: grid;
    grid-template-columns: 260px auto 1fr;
    height: 100%;

    .catalogue-container {
      @include size-cover;
      @include flex-start(column);
      padding: 2px 0;

      .actions-group {
        @include flex-start(row);
        grid-gap: 4px;
        flex-wrap: wrap;
      }
    }
  }
}
