@use "sass:math";

@import "@/styles/atom.scss";
@import "@/styles/variable.scss";

.detail-container {
  @include flex(flex, row, flex-start, center);
  padding: math.div($toy-div-padding, 4);
  grid-gap: 0 2px;

  &:hover {
    .operators {
      opacity: 1;
    }
  }

  .title {
    @include flex-grow-text-ellipsis;
    line-height: 150%;

    &:hover {
      cursor: default;
    }
  }

  .operators {
    opacity: 0;
    transition: opacity 0.1s;
    margin-left: auto;
  }
}
