@import "@/styles/atom.scss";

.catalogue-container {
  @include size-cover;
  @include flex-start(column);
  padding: 2px 0;

  .actions-group {
    @include flex-start(row);
    grid-gap: 4px;
    flex-wrap: wrap;
  }

  .catalogue {
    width: 100%;
  }
}
