.custom-title {
  display: flex;
  justify-content: space-between;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    visibility: hidden;
  }

  &:hover {
    .actions {
      visibility: visible;
      align-items: center;
    }
  }
}

.ant-tree-class-wrapper {
  .ant-tree-node-content-wrapper {
    width: 0;
    flex-grow: 1;
  }
}
