@import "@/styles/atom.scss";

$thrumder: 17px;
$zIndex: 1000;

.toy-scrollbar-container {
  @include size-cover;
  position: relative;
  overflow: hidden;

  .toy-scrollbar-wrapper {
    margin-bottom: $thrumder;
    margin-right: $thrumder;
    overflow: scroll;
    width: calc(100% + $thrumder);
    height: calc(100% + $thrumder);

    .toy-scrollbar-view {

    }

    .toy-scrollbar__bar {
      display: none;
      opacity: 0;
      transition: opacity .34s ease-out;
      position: absolute;
      justify-content: center;
      padding: 2px 0;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.04);

      &.right {
        height: 100%;
        width: 12px;
        right: 0;
        top: 0;
        z-index: $zIndex;
        justify-content: center;

        .toy-scrollbar__thumb {
          width: 8px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          cursor: pointer;
        }

        &:hover {

        }
      }

      &.bottom {
        z-index: $zIndex + 1;
        bottom: 0;
        left: 0;
        padding: 2px 4px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        opacity: 1;
      }
    }

    &:hover {
      .toy-scrollbar__bar {
        display: flex;
      }
    }
  }
}
