@use 'sass:color';

$blue: #1677FFFF;
$purple: #722ED1;
$cyan: #13C2C2;
$green: #52C41A;
$magenta: #EB2F96;
$pink: #eb2f96;
$red: #FF3537FF;
$orange: #FA8C16;
$yellow: #FADB14;
$volcano: #FA541C;
$geekblue: #2F54EB;
$gold: #FAAD14;
$lime: #A0D911;
$gray: #05050514;
$white: #FFFFFFE0;
$smoke: #D6D6D6FF;

$text-color: rgba(0, 0, 0, 0.88);
$color-bg-base: #fff;
$text-font-size: 13px;
$color-default: red;


/**
--------------
  color 相关
--------------
 */
$toy-color-default: $white;
$toy-color-primary: $blue;
$toy-color-success: $green;
$toy-color-warning: $gold;
$toy-color-error: $red;
$toy-color-info: rgba($blue, 0.8);
$toy-color-link: $blue;

$toy-text-color: $text-color;
$toy-text-font-size: $text-font-size;

$toy-color-bg-base: $color-bg-base;
$toy-split-color: $gray;
$toy-border-color: $smoke;


/**
--------------
  盒子相关
--------------
 */
$toy-div-margin: 16px;
$toy-div-padding: 6px;
$toy-div-border-shadow: 2px;
$toy-div-border-radius: 4px;

$toy-size-step: 2px;
