@import "@/styles/atom.scss";

.toy-icon {
  $padding: 2px;
  @include flex-center(inline-flex);


  $sizes: (
    large: 1,
    middle: 0,
    small: -0.5,
    mini: -1
  );
  @each $size, $step in $sizes {
    &.#{$size} {
      padding: $padding + $step * 2
    }
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}
