@import "@/styles/atom.scss";

.toy-icon {
  $padding: 2px;
  $font-size: 16px;
  @include flex-center(inline-flex);


  $sizes: (
    large: 1,
    middle: 0,
    small: -1,
    mini: -2
  );
  @each $size, $step in $sizes {
    &.#{$size} {
      padding: $padding + $step;
      font-size: $font-size + $step * 2;
    }
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}
