@import "@/styles/variable.scss";

.toy-divider {
  position: relative;

  &::before,
  &::after {
    position: relative;
    content: '';
    background-color: $toy-split-color;
  }

  &.vertical {
    height: 100%;
    width: 1px;
    margin: 0 $toy-div-margin;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before,
    &::after {
      width: 1px;
      flex: 1;
    }

    .divider-content {
      padding: $toy-text-padding 0;
    }
  }

  &.horizontal {
    width: 100%;
    margin: $toy-div-margin 0;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      flex: 1;
      height: 1px;
    }

    .divider-content {
      padding: 0 $toy-text-padding;
    }
  }
}
